<!DOCTYPE html>
<html>
<head>
    <title>Prédire le mask d'une image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Prédire le mask d'une image</h1>
    </div>

    <div class="container">
        <div class="form" style="text-align: center;">
            <form method="post" action="/process_image" style="padding:2% 0;">
                <div class="buttonHolder" style="text-align: center; padding:20px;">
                    <button class="button is-primary is-small" type="submit" style="padding:10px; font-size:17px;">Sélection de l'image à prédire</button>
                </div>
            </form>

            <p style="text-align: center; font-size:17px;
